.btn-link {
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: underline;
}


.btn-link-red {
  color: red;
  text-decoration: none;
}

.btn-link-red:hover,
.btn-link-red:focus {
  color: darkred;
  text-decoration: underline;
}


.btn-link-yellow {
  color: orange ;
  text-decoration: none;
}

.btn-link-yellow:hover,
.btn-link-yellow:focus {
  color: rgb(228, 150, 3);
  text-decoration: underline;
}